.Login-Popup {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.Login-Popup-Container {
    place-self: center;
    width: max(23vw, 320px);
    color: rgb(41, 62, 62);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.Login-Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.Login-Title img {
    width: 17px;
    cursor: pointer;
}

.Login-Inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Login-Inputs input {
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;

}


.Login-Popup-Container button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: midnightblue;
    font-size: 15px;
    cursor: pointer;
}

.Login-Conditions {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;

}

.Login-Conditions input{
    margin-top: 5px;
}

.Login-Popup p span {
    color: midnightblue;
    font-weight: 1000;
    cursor: pointer;
}